<main>

                <div id="page-wrap">
                
                    <img src="https://i.ibb.co/ZNNx8Dy/Shachar1-jpg.png" alt="Photo of Cthulu" id="pic" />
                
                    <div id="contact-info" class="vcard">
                    
                        <!-- Microformats! -->
                    
                        <h1 class="fn">Shachar Barsano</h1>
                    
                        <p>
                            Cell: <span class="tel">052-5522325</span><br />
                            Email: <a class="email" href="mailto:barsano10@gmail.com">barsano10@gmail.com</a><br/>
                            Languages: <span>Hebrew-Native language, English- Near native/fluent<br/>
                            Mobility: <span>Valid driving license ,owns a car.</span><br/>
                                </span>
                        </p>
                    </div>
                            
                    <div id="objective">
                        <p>
                                I am a 28 years old guy, living in Rishon-Lezion.
                                Through the years I found programming as one of my passions as I started programming in c++ , learned python  and then went to john bryce were I went through a full-stack .NET course which I finished successfully with a
                                certificate of excellence. 
                                <br/>
                                My first experience in full-stack development took place under the roof of the full-stack .NET course were I made a few projects using technologies such as C# for server side and mainly angular for client side , later on I started working privately on web design and applications projects using angular. at the same time, I started working for Matrix as an Integration man where I mostly develop web services and OOP systems using cache language .
                                <br/>
                                <b>Today I aim to work as a full-time front-end /back-end developer.</b>
                        </p>
                    </div>
                    
                    <div class="clear"></div>
                    
                    <dl>
                        <dd class="clear"></dd>
                        
                        <dt>Education</dt>
                        <dd>
                        <p>Fully graduated high school(5 units in Math, 5 units in English, 10 units in Robotics, 5 units in biology).<br/>
                        Scored 680 at the psychometric test.<br/>
                        Studied electronic engineering for 2 and a half years where I learned greatly about subjects such as electrodynamics math and physics.<br/>
                        Successfully Finished full-stack .NET John Bryce's course, rewarded with a certificate of excellence.
                        </p>
                        </dd>
                        
                        <dd class="clear"></dd>
                        
                        <dt>Relevent Knowledge</dt>
                        <dd>
                            <h2>Programming Languages</h2>
                            <p>Python,C#,C++,JavaScript,Typescript and Cache.</p>

                            <h2>Technologies and tools</h2>
                            <p>HTML, SQL, CSS, Angular 6, Node.js, GitBash, Ensemble, Unity and Pulse.</p>

                            <h2>Working environments familiarity </h2>
                            <p>Visual Studio 2018,Visual studio code, Jetbrains.</p>
                        </dd>
                        
                        <dd class="clear"></dd>
                        
                        <dt>Relevent Experience</dt>
                        <dd>
                            <h2>2018 - 2020  Matrix</h2>
                            Integration and server side Developer using inter-systems ENSEMBLE technology
                            <h2>2016 - 2017 Afcon</h2>
                            A project execution man of facilities supervision and control projects.
                    
                        </dd>
                        
                        <dd class="clear"></dd>
                        
                        <dt>Qualities Abilities and Skills</dt>
                        <dd>
                            <ul>
                                <li>Swift Learner and adaptable.</li>
                               <li>Serious, Straightforward.</li>
                               <li> Logical, "out of the box" thinker.</li>
                               <li>Experienced working as an individual or cooperatively. </li> 
                                <li>Possesses strong work ethics</li>
                                <li>Highly motivational and ambitious.</li>
                                <li>Perceptive and owns a great understanding of client needs.</li>
                                <li>Stubborn and Highly Critical of  myself.</li>
                            </ul></dd>
                        <dd class="clear"></dd>

                        <dt>Hobbies</dt>
                        <dd>Watching TV shows and movies, Reading Books, Writing, Jogging, Web Devoloping.</dd>
                        
                        <dd class="clear"></dd>
                        
                        
                        <dd class="clear"></dd>
                    </dl>
                    
                    <div class="clear"></div>
                
                </div>
            
<div>
<!-- <div class="title"><span>Biography</span></div>
<div class="intro">Hello, my name is Shachar Barsano,I live in Rishon-Lezion, Israel, I'm 27 years old and I'm the designer/developer of this website.
    <br>The goal of this website is to offer some insight about myself as a developer.
    <br>You can browse here through my Bio, Skills and even Projects I made and uploaded to GitHub.
    <br>Even more, I developed some client side projects and uploaded them so you can preview them and have some idea about my skills and design logic.
</div>
<div>Search project click <a href="https://bombothegreat.github.io/country-search/home">here</a></div>-->
</div>
</main>