<div class="main">
<div>
  <ul>
    <li>
     <b><a href="https://bombothegreat.github.io/country-search/home">Country Search project</a></b> - a small website that uses a JSON array from a url and shows the relevant data in a table with a key down search function.<br/>
     <a href="https://bombothegreat.github.io/country-search/home"><img src="https://serving.photos.photobox.com/24719790148c446d78df0a9b9a7cef43439d7e3243a1fc6e2c6e981fb9b3f95525b89b56.jpg"></a>
    </li>
  </ul>
  <h1>More projects will be uploaded soon!</h1>
</div>
</div>
