<div class="main">
<div>
  <ul>
      <li>
          <b><a href="https://github.com/BomboTheGreat/google-books-terminal">Google Books search terminal executable written using Python</a></b> -an executable terminal written using Python which implemented Google books API search<br/>
          <a href="https://github.com/BomboTheGreat/google-books-terminal"><img src="https://i.ibb.co/HxM1SKs/Untfgitled.png"></a>
         </li>
    <li>
     <b><a href="https://bombothegreat.github.io/country-search/home">Country Search project</a></b> - A small website that uses a JSON array gathered from from a web service and shows the relevant data in a table with a key down search function.<br/>
     <a href="https://bombothegreat.github.io/country-search/home"><img src="https://serving.photos.photobox.com/24719790148c446d78df0a9b9a7cef43439d7e3243a1fc6e2c6e981fb9b3f95525b89b56.jpg"></a>
    </li>
    <li>
      <b><a href="https://www.codewars.com/users/BomboTheGreat/completed_solutions">Python Code wars solutions</a></b> - About 50 smart solutions of python exercises of mine on CodeWars. <br/>
      <a href="https://www.codewars.com/users/BomboTheGreat/completed_solutions"><img src="https://i.ibb.co/1ntYzDF/Untitlefd.png"></a>
     </li>

  </ul>
  <h1>More projects will be uploaded soon!</h1>
</div>
</div>
